@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}
.heartbeat {
  animation: heartbeat 1.5s infinite;
}
